{% extends 'core/base.html' %}

{% block content %}

<div class="flex justify-center align-center mt-10">
    <div style="width: 70%;">
        <h3 class="text-2xl font-bold">Your Borrowed Books</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-4 md:px-0 mt-10  gap-5 max-w-7xl">
                {% for book in books %}
                    <a href="{% url 'borrowed_book' pk=book.pk %}" class="p-2 md:p-5 cursor-pointer border transition-all duration-700 rounded  overflow-hidden shadow-lg">
                        <div class="text-center">
                            <img src="{{book.image.url}}" alt="" class="w-full h-2/3">
                        </div>
                        <div class="w-2/3 mt-3">
                            <h4 class="text-lg text-white font-medium">{{book.title}}</h4>
                            <p class="font-lg text-sm h-11 text-white">${{book.price}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
    </div>
</div>


{% endblock content %}