<div class="flex justify-center align-center mt-10">
    <div style="width: 70%">
        <div class="flex justify-between">
            <div>
                <ul class="py-2 text-sm  flex flex-row space-x-4">
                    <li>
                        <a href="{% url "home" %}" class="btn btn-outline">All</a>
                    </li>
                    {% for genre in genres %}
                        <li>
                            <a href="{% url "bookfilter" genre=genre.name %}" class="btn btn-outline">{{genre.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-4 md:px-0 mt-10  gap-5 max-w-7xl">
                {% for book in books %}
                    <a href="{% url 'book_detail' pk=book.pk %}" class="p-2 md:p-5 cursor-pointer border transition-all duration-700 rounded  overflow-hidden shadow-lg">
                        <div class="text-center">
                            <img src="{{book.image.url}}" alt="" class=" h-2/3  w-full ">
                        </div>
                        <div class="w-2/3 mt-3">
                            <h4 class="text-lg text-white font-medium">{{book.title}}</h4>
                            <p class="font-lg text-sm text-white h-11">Borrowing Price: {{book.price}}$</p>
                        </div>
                    </a>
                {% endfor %}
                  
            </div>
        </div>
    </div>
</div>